@keyframes fadeInLeft {
    from {
        opacity : 0;
        transform: translateX(-100%);
    }
    to{
        opacity : 1;
        transform: translateX(0);
    }
}

@keyframes fadeOutRight {
    from {
        opacity : 1;
        transform: translateX(0);
    }
    to{
        opacity : 0;
        transform: translateX(100%);
    }
}

$nav-animation-delay : 0.25s;
$link-length : 5;


.c-nav{
    $this : &;
   
    position : fixed;
    top : 0;
    left: 0;
    width : 100%;
    height: 100%;
    background : white;
    justify-content: center;
    align-items: center;
    display : none;
    animation-duration: 0.25s;
    animation-fill-mode: both;    
    z-index: 10;
    
    &.-open{
        display : flex;
        animation-name : fadeInLeft;
        #{$this}__item{
            animation-name : fadeInLeft;
            
            @for $i from 1 through $link-length {
                &:nth-of-type(#{$i}){
                    animation-delay : $nav-animation-delay * $i;
                }
            }
        }
    }
    &.-close{
        display : flex;
        animation-name : fadeOutRight;
    }

    &__list{
        padding : 0;
        list-style: none;
    }
    &__item{
        animation-duration: 0.25s;
        animation-fill-mode: both;
    }
    &__link{
        display : inline-block;
        padding : rem(16);
        color : #333;
        text-decoration: none;
        @include font-size(22);
        font-family: "Roboto";
    }
}